.services{
    background-color: #121212;
    
    color: white;
    position: relative;
}

.row-content{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
h1{
    font-weight: 400 !important;
    
}




