@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.no-border {
  text-decoration: none;
}
.bg-black {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 5, 40, 1) 97%
  );
  overflow: hidden;
}
.bg-none {
  background: none !important;
  outline: none !important;
  border: none !important;
}
.img {
  text-align: center;
}
.bg-blank {
  background-color: #121212;
}
.ml-fix {
  transform: translate(9rem, 0px);
}
